@import url('http://fonts.cdnfonts.com/css/anglicantext'); 

    body {
        margin-left: 10%;
        margin-right: 10%;
        background-image: url("images/old.jpg");
        text-align: justify
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        margin-left: 15%;
        font-family: 'AnglicanText', sans-serif;
        font-size: 3em;
        margin-right: 15%
    }

    hr {
        width: 50%;
        text-align: center
    }

    p {
        text-indent: 1em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        font-size: 1.5em;
        font-family: "Big Caslon"
    }

    p.poem {
        text-indent: 0%;
        margin-left: 10%;
        font-size: 90%;
        margin-top: 1em;
        margin-bottom: 1em
    }

    p.center {
        text-align: center;
        text-indent: 0;
        margin-top: 1em;
        margin-bottom: 1em
    }

    div.fig {
        display: block;
        margin: 0 auto;
        text-align: center
    }

    pre {
        font-style: italic;
        font-size: 90%;
        margin-left: 10%
    }
    
    div.c15 {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 2em
    }

    ul.c14 {
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px
    }

    li.c13 {
        display: list-item
    }

    div.c12 {
        display: block;
        font-size: 1.1em;
        margin: 1em 0;
        font-weight: bold
    }

    div.c11 {
        margin: 0.83em 0;
        font-size: 1.1em;
        text-align: center
    }

    span.c10 {
        font-size: smaller
    }

    div.c9 {
        display: block;
        margin: 1em 0
    }

    div.c8 {
        display: block;
        margin-top: 4em
    }

    div.c7 {
        width: 60%
    }

    img.c6 {
        width: 100%;
        border-style: solid;
        border-color: GoldenRod;
    }

    div.c5 {
        margin-top: 2em;
        margin-bottom: 4em
    }

    div.c4 {
        display: block;
        margin-left: 2em;
        text-indent: -2em
    }

    div.c3 {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 2em;
        text-indent: -2em
    }

    div.c2 {
        display: block;
        margin: 1em 0
    }

    div.c1 {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold
    }/**/
    
    a.pginternal{
    font-size: 1.3em;
    }
    
    table.c1 {
    margin-right: auto;
    margin-left: auto
    }